<div class="bar">
<div class="flashcards">  <a href="/"><h1> Flashcards</h1></a></div>

  <div class="username"><a href="/cards"></a></div>
  <div class="space"></div>
  <div class="nav-list"><a href="/cards/list"> All Cards</a> </div>
  <div class="nav-study"><a href="/cards/study"> Study Cards </a></div>
  <div class="nav-new-card"><a href="/cards/new"> New Card</a> </div>
  <div class="nav-logout"><a href="/logout"> Log Out</a> </di>
</div>
</div>
