<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <%- include ../partials/head %>
</head>
<body>
<%- include ../partials/nav %>
  <div>  <h2>This is the home page </h2></div>
      <div class="container">
    <p> <% if (user){ %>
      <h3> Welcome <%= user.email %> !
        <% } %> </h3>
    <div class ="login">
        <a href="/users/login"><button class="edit">Log in</button></a>
    </div>
    <div class ="newuser">
      <a href="/users/new"><button class="edit">New User</button></a>
    </div>

    </div>
</div>
</body>
</html>
