<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <%- include ../partials/head %>
</head>
<body>
<%- include ../partials/nav %>

    <h2>This is the home page </h2>
      <div class="container">
    <p> <%= howdy %></p>
    <p> <% if (user){ %>
      <h3> Welcome <%= user.email %>
        <% } %>
    <div class ="login">
        <a href="/users/login"><button class="edit">Log in</button></a>
      </div>
    </div>
    <div class ="newuser">
      <a href="/users/new"><button class="edit">New User</button></a>
    </div>
</div>
</body>
</html>
