<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Cards</title>
      <%- include ../partials/head %>
</head>
<body>

  <%- include ../partials/nav %>
  <div>
    <h2>What do you want to do?</h2>
      <ul>
        <li><a href="/cards/list" class="break">View Cards (also edit and delete)</a></li>
        <li><a href="/cards/new" class="break">Create a Card</a></li>
        <li><a href="/cards/study" class="break">Study Cards</a></li>
        <li><a href="/logout" class="break">Log Out</a></li>
      </ul>
    </div>
</body>
</html>
